@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>Who We Are</h3>
    <p>
        CloudPanda is a cutting-edge cloud kitchen platform that revolutionizes the way local food delivery works by connecting buyers and sellers based on their geographical area. In today's fast-paced world, convenience and quality are key, and CloudPanda delivers both by enabling sellers to partner with popular franchises and bring their iconic recipes straight to the local market. Sellers can access and recreate the recipes of well-known brands, adapting them to the preferences of their local customer base, all while maintaining the original franchise's quality standards.
    </p>
    <p>
        This unique approach ensures that buyers can enjoy their favorite franchise meals without leaving their area, making it easier to access high-quality, diverse food options right from home. CloudPanda bridges the gap between buyer and seller by using innovative technology to match them within their respective areas, ensuring faster delivery times and fresher meals. Whether you're craving a gourmet burger or a world-class pizza, CloudPanda brings the best of franchised flavors to your doorstep while supporting local entrepreneurs. It's not just food delivery; it's a community-powered dining experience.
    </p>


</main>